solutions/MarketInsights/Workflows/AdminBingSearchWebPages-E2F04215-534F-EA11-A812-000D3A24CD8E.json
{"properties":{"connectionReferences":{"shared_commondataservice":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Day","interval":1,"timeZone":"W. Europe Standard Time"},"type":"Recurrence"}},"actions":{"Initialize_today_variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"today","type":"String","value":"@{utcNow()}"}]}},"Initialize_Flow_Environment_variable":{"runAfter":{"Initialize_today_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"flowEnvironment","type":"String","value":"https://emea.flow.microsoft.com/manage/environments"}]}},"Try":{"actions":{"List_initial_Domain_records":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice","connectionName":"shared_commondataservice","operationId":"GetItems_V2"},"parameters":{"dataset":"default.cds","table":"ur_domains"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_Domain":{"foreach":"@outputs('List_initial_Domain_records')?['body/value']","actions":{"Web_Search_API_request":{"runAfter":{},"type":"Http","inputs":{"method":"GET","uri":"https://api.cognitive.microsoft.com/bing/v7.0/search","headers":{"Ocp-Apim-Subscription-Key":"c3959377216e47de818118fdbbb2a450"},"queries":{"q":"site:@{items('Apply_to_each_Domain')?['ur_domainurl']} phonak","count":"10","offset":"0","mkt":"en-us","safesearch":"Strict","responseFilter":"Webpages"}}},"Parse_Web_Search_API_result_JSON_":{"runAfter":{"Web_Search_API_request":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@body('Web_Search_API_request')","schema":{"type":"object","properties":{"_type":{"type":"string"},"queryContext":{"type":"object","properties":{"originalQuery":{"type":"string"}}},"webPages":{"type":"object","properties":{"webSearchUrl":{"type":"string"},"totalEstimatedMatches":{"type":"integer"},"value":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"url":{"type":"string"},"isFamilyFriendly":{"type":"boolean"},"displayUrl":{"type":"string"},"snippet":{"type":"string"},"dateLastCrawled":{"type":"string"},"language":{"type":"string"},"isNavigational":{"type":"boolean"}},"required":["id","name","url","isFamilyFriendly","displayUrl","snippet","dateLastCrawled","language","isNavigational"]}}}},"rankingResponse":{"type":"object","properties":{"mainline":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"answerType":{"type":"string"},"resultIndex":{"type":"integer"},"value":{"type":"object","properties":{"id":{"type":"string"}}}},"required":["answerType","resultIndex","value"]}}}}}}}}}},"Create_a_new_Bing_Search_Result_record":{"runAfter":{"Parse_Web_Search_API_result_JSON_":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice","connectionName":"shared_commondataservice","operationId":"PostItem_V2"},"parameters":{"dataset":"default.cds","table":"ur_bingsearchresults","item/ur_name":"@{items('Apply_to_each_Domain')?['ur_domainname']} - @{body('Parse_Web_Search_API_result_JSON_')?['webPages']?['totalEstimatedMatches']} - @{variables('today')}","item/ur_bingsearchtopic":315810004,"item/statuscode":1,"item/ur_totalestimatedmatches":"@body('Parse_Web_Search_API_result_JSON_')?['webPages']?['totalEstimatedMatches']","item/ur_websearchurl":"@body('Parse_Web_Search_API_result_JSON_')?['webPages']?['webSearchUrl']","item/_ur_domain_value":"@items('Apply_to_each_Domain')?['ur_domainid']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_initial_Domain_records":["Succeeded"]},"type":"Foreach"}},"runAfter":{"Initialize_Flow_Environment_variable":["Succeeded"]},"type":"Scope"},"Catch":{"actions":{},"runAfter":{"Try":["Succeeded"]},"type":"Scope"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}