solutions/MarketInsights/Workflows/AdminSyncDomainsfromAccounts-12855F01-864A-EA11-A812-000D3A24CD8E.json
{"properties":{"connectionReferences":{"shared_commondataservice":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Day","interval":1,"timeZone":"W. Europe Standard Time","schedule":{"hours":["0"],"minutes":[0]}},"type":"Recurrence"}},"actions":{"Initialize_today_variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"today","type":"String","value":"@{utcNow()}"}]}},"Initialize_Flow_Environment_variable":{"runAfter":{"Initialize_today_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"flowEnvironment","type":"String","value":"https://emea.flow.microsoft.com/manage/environments"}]}},"Try":{"actions":{"List_initial_Domain_records":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice","connectionName":"shared_commondataservice","operationId":"GetItems_V2"},"parameters":{"dataset":"default.cds","table":"ur_domains"},"authentication":"@parameters('$authentication')"}},"List_initial_Accounts_records":{"runAfter":{"List_initial_Domain_records":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice","connectionName":"shared_commondataservice","operationId":"GetItems_V2"},"parameters":{"dataset":"default.cds","table":"accounts","$filter":"contains(websiteurl,'http')"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_Account":{"foreach":"@outputs('List_initial_Accounts_records')?['body/value']","actions":{"Get_Domain_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice","connectionName":"shared_commondataservice","operationId":"GetItems_V2"},"parameters":{"dataset":"default.cds","table":"ur_domains","$filter":"ur_domainurl eq '@{items('Apply_to_each_Account')?['websiteurl']}'","$top":1},"authentication":"@parameters('$authentication')"}},"Filter_Domain":{"runAfter":{"Get_Domain_record":["Succeeded"]},"type":"Query","inputs":{"from":"@outputs('Get_Domain_record')?['body/value']","where":"@equals(item()?['ur_domainurl'], items('Apply_to_each_Account')?['websiteurl'])"}},"Get_Domain_GUID_or_create_one":{"runAfter":{"Filter_Domain":["Succeeded"]},"type":"Compose","inputs":"@if(not(empty(body('Filter_Domain'))), first(body('Filter_Domain'))?['ur_domainid'], guid())"},"Update_or_Insert_Domain_record":{"runAfter":{"Get_Domain_GUID_or_create_one":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice","connectionName":"shared_commondataservice","operationId":"PatchItem_V2"},"parameters":{"dataset":"default.cds","table":"ur_domains","id":"@outputs('Get_Domain_GUID_or_create_one')","item/ur_domainname":"@items('Apply_to_each_Account')?['name']","item/ur_domainurl":"@items('Apply_to_each_Account')?['websiteurl']","item/statuscode":1,"item/statecode":0},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_initial_Accounts_records":["Succeeded"]},"type":"Foreach"}},"runAfter":{"Initialize_Flow_Environment_variable":["Succeeded"]},"type":"Scope"},"Catch":{"actions":{},"runAfter":{"Try":["Succeeded"]},"type":"Scope"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}